<ion-header [translucent]="true">



    <ion-title >Art</ion-title>
    <div class="select-container">
    <ion-select  [(ngModel)]="selectedCategory" interface="action-sheet" class="custom-select" (ionChange)="onSelectionChange()">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option value="My Art">My Art</ion-select-option>
        <ion-select-option value="painting">Painting</ion-select-option>
        <ion-select-option value="sculpture">Sculpture</ion-select-option>
        <ion-select-option value="drawing">Drawing</ion-select-option>
        <ion-select-option value="photography">Photography</ion-select-option>
        <ion-select-option value="printmaking">Printmaking</ion-select-option>
        <!-- Add more categories here -->
    </ion-select></div>
</ion-header>
<ion-content>


  
      <div class="col-md-3" *ngFor="let item of items; let index" (click)="navigateToDetails(item.id)">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://firebasestorage.googleapis.com/v0/b/artventure-69.appspot.com/o/Products%2F1715128877853_ce9.jpg?alt=media&token=dc0378b3-8b33-4666-ac40-fd3bb737c8db" />
          <ion-card-header>
            <ion-card-content><b>Price : {{ item["price"] }}</b></ion-card-content>
            <ion-card-subtitle> Category : {{ item["selectedCategory"] }} </ion-card-subtitle>
  
            <ion-card-subtitle>Description : {{ item["description"] }}</ion-card-subtitle>
            <br>
  
            <ion-card-title>{{ item["title"] }}</ion-card-title>
          </ion-card-header>

  
  
  
        </ion-card>
      </div>

  
    <div *ngIf="items?.length === 0">
      No products found!
    </div>
  
  
  </ion-content>
