<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>
<ion-footer style="height: 300px;"><ion-card style="height: 250px;align-items: center;">
    <ion-card-header>
      <ion-card-title style="align-self: center;">Paint Good,Feel Good</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>Let your creativity bloom,<br>
        feel your spirit soar.</div> <ion-button (click)="nextPage()" style="align-self: center;">start</ion-button>
    </ion-card-content>

  </ion-card></ion-footer>